<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Ahmed Mahmood</h1>
        <p>Cybersecurity & Python Developer</p>
        <nav>
            <a href="/">Home</a> |
            <a href="/about">About</a> |
            <a href="/projects">Projects</a> |
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <section>
        {% block content %}{% endblock %}
    </section>

    <footer>
        <p>Contact: hamoodys2@hotmail.com | <a href="https://linkedin.com/in/-ahmed-mahmood">LinkedIn</a></p>
    </footer>
</body>
</html>
